@import "_extend";
@import "_variables";

* {
  margin: 0px auto;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1920px;
  width: 940px;
  padding: 0 50px;
  color: $black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navi {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.navLeft {
  width: 25%;
  display: flex;
  @extend %navBox;
}

.navCenter {
  width: 50%;
  display: flex;
  @extend %navBox;
}

.navRight {
  width: 25%;
  display: flex;
  @extend %navBox;
}

.mainImg {
  width: 100%;
  height: 100%;
}

.sec__intro {
  display: grid;
  row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  margin-top: 40px;
}

.sec__intro--gridBox {
  width: 100%;
}

.sec__intro--gridBox img {
  width: 100%;
  height: 100%;
}

.sec__intro--gridBox:nth-child(2),
.sec__intro--gridBox:nth-child(4),
.sec__intro--gridBox:nth-child(6) {
  background-color: $beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  padding: 25px;
  font-family: "Merriweather", serif;
  font-size: 30px;
}

.btn {
  margin: 40px;
  width: 240px;
  height: 55px;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  margin-top: 80px;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Merriweather", serif;
  width: 100%;
  text-align: center;
}

.sec__goods--grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, 500px);
}

.sec__goods--grid--cell:nth-child(4),
.sec__goods--grid--cell:nth-child(5),
.sec__goods--grid--cell:nth-child(6) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec_goods--grid--cell--category {
  font-size: 10px;
  font-weight: bold;
}

.new {
  font-size: 10px;
  font-weight: bold;
  color: $dark_beige;
}

.sec__goods--grid--cell--name {
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-style: italic;
  letter-spacing: -2px;
  font-weight: 100;
  margin-top: 10px;
}

.sec__goods-grid--cell--price {
  font-size: 10px;
  font-weight: bold;
  color: $grey;
  margin-top: 20px;
}

.sec__story--grid {
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 390px);
  margin-top: 50px;
  background-color: $beige;
}

.sec__story--grid--cell:nth-child(1) img,
.sec__story--grid--cell:nth-child(4) img,
.sec__story--grid--cell:nth-child(5) img {
  width: 100%;
  height: 100%;
}
