:root {
  --line-border-blue: #3498db;
  --line-border-grey: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #999;
  border: 3px solid var(--line-border-grey);
  border-radius: 50%;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-blue);
}

.progress-container::before {
  /*뒤에 흐릿한 진행게이지를 표시한다.*/
  content: "";
  background-color: var(--line-border-grey);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /*이거 신기하네! */
  height: 4px;
  width: 99%;
  z-index: -1;
}

.progress {
  /*파란 진행게이지를 표시한다 */
  background-color: var(--line-border-blue);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /*이거 신기하네! */
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.btn {
  background-color: var(--line-border-blue);
  border: none;
  color: white;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-grey);
  cursor: not-allowed;
}
