* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.progressBar::before {
  content: "";
  position: absolute;
  height: 8px;
  top: 50%;
  width: 99%;
  left: 0;
  background-color: #dfd2d9;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  position: absolute;
  width: 0%;
  height: 8px;
  top: 40%;
  left: 0;
  background-color: blueviolet;
  z-index: -1;
  transition: 0.4s ease;
}

.num {
  width: 30px;
  height: 30px;
  border: solid 3px #dfd2d9;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.num.active {
  color: blueviolet;
  border: solid 3px blueviolet;
}

.btns {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50vw;
  border: black 1px solid;
  border-radius: 10px;
  margin: 20px 10px;
}

.btn.disabled {
  cursor: not-allowed;
}
