:root {
  --line-border-blue: #3498db;
  --line-border-grey: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 350px;
  position: relative;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 99%;
  height: 5px;
  background-color: var(--line-border-grey);
  z-index: -1;
}

.progress {
  position: absolute;
  top: 50%;
  width: 0%;
  height: 5px;
  background-color: var(--line-border-blue);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--line-border-grey);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-blue);
}

.btn {
  width: 100px;
  height: 30px;
  background-color: var(--line-border-blue);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--line-border-grey);
  cursor: not-allowed;
}
